### Задание 1

In [1]:
import pandas as pd
import numpy as np

##### Загружаем "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [3]:
data = boston.data
data

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [4]:
data.shape

(506, 13)

In [5]:
target = boston.target

In [6]:
feature_names = boston.feature_names
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

##### Создаем датафрейм X из "Boston House Prices dataset"

In [7]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

##### Создаем датафрейм y из "Boston House Prices dataset"

In [9]:
y = pd.DataFrame(target, columns=["price"])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [10]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
price    506 non-null float64
dtypes: float64(1)
memory usage: 4.1 KB

##### Разбиваем датафреймы X и y на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

##### Создаем модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model

In [12]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

##### Обучаем модель на тренировочных данных

In [13]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

##### Делаем предсказание на тестовых данных

In [14]:
y_pred = lr.predict(X_test)

In [15]:
check_test = pd.DataFrame({
                          "y_test": y_test["price"],
                          "y_pred": y_pred.flatten(),
                         })
check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [16]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

##### Вычисляем R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics

In [17]:
from sklearn.metrics import r2_score

r2_score_1 = r2_score(y_test, y_pred)
r2_score_1

0.7112260057484929

### Задание 2

##### Создаем модель model с помощью RandomForestRegressor из модуля sklearn.ensemble

In [18]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

##### Обучаем модель на тренировочных данных

In [19]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

##### Делаем предсказание на тестовых данных

In [20]:
y_pred = model.predict(X_test)

In [21]:
check_test = pd.DataFrame({
                          "y_test": y_test["price"],
                          "y_pred": y_pred.flatten(),
                         })
check_test.head(10)

     y_test     y_pred
173    23.6  22.846138
274    32.4  31.156114
491    13.6  16.297226
72     22.8  23.821036
452    16.1  17.212148
76     20.0  21.820092
316    17.8  19.866369
140    14.0  14.759938
471    19.6  21.235224
500    16.8  20.883103

##### Cчитаем R2

In [22]:
from sklearn.metrics import r2_score

r2_score_2 = r2_score(y_test, y_pred)
r2_score_2

0.8749965273218174

##### Сравниваем с результатом из предыдущего задания

In [23]:
r2_score_1 < r2_score_2

True

##### Вывод: модель model работает лучше, чем модель lr

### *Задание 3

##### Находим сумму всех показателей важности feature_importances_

In [24]:
model.feature_importances_

array([0.03211748, 0.00154999, 0.0070941 , 0.0011488 , 0.01436832,
       0.40270459, 0.01424477, 0.06403265, 0.00496762, 0.01169177,
       0.01808961, 0.0123114 , 0.41567892])

In [25]:
sum(model.feature_importances_)

0.9999999999999999

##### Находим, какие два признака показывают наибольшую важность

In [26]:
max_index_1 = np.argmax(model.feature_importances_)

In [27]:
max_index_2 = 0
max_2 = model.feature_importances_[max_index_2]

for i in range(model.n_features_):
    if max_2 < model.feature_importances_[i] and i != max_index_1:
        max_2 = model.feature_importances_[i]
        max_index_2 = i

In [28]:
print(max_index_1, ":", model.feature_importances_[max_index_1])
print(max_index_2, ":", model.feature_importances_[max_index_2])

12 : 0.4156789214509943
5 : 0.402704591696731